<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <%- include('partials/header') %>
    <main id="main-content" tabindex="-1">

    <%- include('partials/sections/hero') %>
    <%- include('partials/sections/highlights') %>
    <%- include('partials/sections/about') %>
    <%- include('partials/sections/papers') %>
    <%- include('partials/sections/authors-guidelines') %>
    <%- include('partials/sections/dates') %>
    <%- include('partials/sections/submission-guidelines') %>
    <%- include('partials/sections/submission-process') %>
    <%- include('partials/sections/committee') %>
    <%- include('partials/sections/fees') %>
    <%- include('partials/sections/contact') %>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>
