<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>

    <%- include('partials/sections/hero') %>
    <%- include('partials/sections/highlights') %>
    <%- include('partials/sections/about') %>
    <%- include('partials/sections/papers') %>
    <%- include('partials/sections/authors-guidelines') %>
    <%- include('partials/sections/submission-guidelines') %>
    <%- include('partials/sections/submission-process') %>
    <%- include('partials/sections/committee') %>
    <%- include('partials/sections/fees') %>
    <%- include('partials/sections/contact') %>

    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
